.advertisement{
    margin-top: 50px;
    margin-bottom: 50px;   
}

.ad_divs{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ad_div{
    display: flex;
    align-items: center;
    gap: 12px;
}

.ad_div h3{
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
color: $zero;
width: 60%;
}

@media(max-width:1100px){
   
.ad_divs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
} 
}