@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar1 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: #F0F4F8;
}

.navbar1 {
  padding: 15px;
  border-bottom: 1px solid #CBD8E9;
}

.navbar1 ul a {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
  color: #6E9BB8;
  transition: 0.3s;
}

.navbar1 ul a:hover {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
  color: #6E9BB8;
  text-decoration: underline;
}

.navbar2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.navbar2 li a {
  font-size: 18px;
  font-weight: 400;
  line-height: 19.8px;
  text-align: left;
  color: #0000DE;
}

.navbar2 li a:hover {
  color: #0000DE;
  text-decoration: underline;
}

.navbar_button1 {
  width: 174px;
  height: 48px;
  border-radius: 20px 0px;
  background-color: #0000DE;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.6s linear;
}

.navbar_button2 {
  width: 159px;
  height: 48px;
  border-radius: 20px 0px 20px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  text-align: center;
  color: #0000DE;
  background-color: #F0F4F8;
  border: none;
  transition: 0.6s linear;
}

.navbar_button1:hover {
  background-color: #F0F4F8;
  border: none;
  color: #0000DE;
}

.navbar_button2:hover {
  color: #F0F4F8;
  background-color: #0000DE;
  border: none;
}

.navbar2 .links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkboxx {
  display: none;
}

@media (min-width: 1200px) {
  .menu, .logout {
    display: none;
  }
}
@media (max-width: 1200px) {
  .links {
    top: 0;
    left: -100%;
    position: fixed;
    width: 50%;
    background-color: aliceblue;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s linear;
    z-index: 999;
  }
  .navbar1 {
    display: none;
  }
  #check:checked ~ .links {
    left: 0;
  }
}
@media (max-width: 800px) {
  .navbar2 .search, .navbar_button1 {
    display: none;
  }
}
@media (max-width: 560px) {
  .navbar_button2 {
    display: none;
  }
  .navbar2 {
    justify-content: space-between;
  }
}
.showcase {
  margin-bottom: 50px;
  background-color: #F0F4F8;
  padding: 30px;
}

.showcase_left_and_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase_left h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 48.4px;
  text-align: left;
  color: #000000;
  width: 80%;
}

.showcase_left span {
  font-size: 44px;
  font-weight: 700;
  line-height: 48.4px;
  color: #0000DE;
}

.showcase_left h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: #000000;
}

.showcase_button {
  width: 240px;
  height: 68px;
  border-radius: 28px 0px;
  background-color: #0000DE;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  transition: 0.5s linear;
}

.showcase_button:hover {
  color: #0000DE;
  background-color: transparent;
  border: 1px solid #0000DE;
}

.showcase_left {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

@media (max-width: 1000px) {
  .showcase_left_and_right {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 520px) {
  .showcase_left h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 48.4px;
    text-align: left;
    color: #000000;
    width: 80%;
  }
  .showcase_left img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .showcase_left h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48.4px;
    text-align: left;
    color: #000000;
    width: 80%;
  }
}
.advertisement {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ad_divs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ad_div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ad_div h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #000000;
  width: 60%;
}

@media (max-width: 1100px) {
  .ad_divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.calculate_title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.calculate_title h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 37.4px;
  text-align: left;
  color: #000000;
}

.c_card_left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.c_card_left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  text-align: left;
  color: #79A6C3;
  width: 60%;
}

.c_card_left h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: #000000;
}

.c_card {
  display: flex;
  align-items: center;
  width: 615px;
  height: 166px;
  border-radius: 10px;
  background-color: #F0F4F8;
  padding: 15px;
}

.c_cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  padding: 0 60px;
}

@media (max-width: 1400px) {
  .c_cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .c_card p {
    display: none;
  }
}
@media (max-width: 500px) {
  .c_card h3 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
